<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wuan.attendance.mapper.WeeklyReportMapper">

    <resultMap id="weeklyReportResultMap" type="com.wuan.attendance.model.WeeklyReport">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="group_id" property="groupId"/>
        <result column="week_number" property="weekNumber"/>
        <result column="content_completed" property="contentCompleted"/>
        <result column="content_problems" property="contentProblems"/>
        <result column="content_plan" property="contentPlan"/>
        <result column="content_link" property="contentLink"/>
        <result column="status" property="status"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>
    <select id="findAll" resultMap="weeklyReportResultMap">
        SELECT * FROM weekly_report;
    </select>
    <select id="findById" resultMap="weeklyReportResultMap" parameterType="int">
        SELECT * FROM weekly_report WHERE id = #{id};
    </select>
    <select id="findByUserId" resultMap="weeklyReportResultMap" parameterType="int">
        SELECT * FROM weekly_report
        WHERE user_id = #{userId}
    </select>
    <insert id="insert" parameterType="com.wuan.attendance.model.WeeklyReport">
        INSERT INTO weekly_report (user_id, group_id, week_number, content_completed, content_problems, content_plan, content_link, status)
        VALUES (#{userId}, #{groupId}, #{weekNumber}, #{contentCompleted}, #{contentProblems}, #{contentPlan}, #{contentLink}, #{status});
    </insert>
    <update id="update" parameterType="com.wuan.attendance.model.WeeklyReport">
        UPDATE weekly_report
        SET user_id = #{userId}, group_id = #{groupId}, week_number = #{weekNumber}, content_completed = #{contentCompleted}, content_problems = #{contentProblems}, content_plan = #{contentPlan}, content_link = #{contentLink}, status = #{status}
        WHERE id = #{id};
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM weekly_report WHERE id = #{id};
    </delete>
</mapper>
